// Змінні
$calendar-size: 100px;
$calendar-gap: 1px;
$border-color: #000;
$bg-color: #eee;
$hover-bg-color: #ffbfcb;
$font-size: 30px;
$animation-duration: 0.5s;

// Основний контейнер календаря
.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: calc(7 * $calendar-size + 6 * $calendar-gap);
  padding: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

// Окремий день у календарі
.calendar__day {
  width: $calendar-size;
  height: $calendar-size;
  background: $bg-color;
  border: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: $font-size;
  position: relative;
  transition:
    transform $animation-duration,
    background-color $animation-duration;

  // Анімація ховеру
  &:hover {
    cursor: pointer;
    background-color: $hover-bg-color;
    transform: translateY(-20px);
  }

  // Додавання цифр через CSS
  @for $i from 1 through 31 {
    &:nth-child(#{$i})::before {
      content: '#{$i}';
    }
  }
}

// Модифікатор початкового дня тижня
$start-days: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 0,
);

@each $day, $margin in $start-days {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    margin-left: calc($margin * ($calendar-size + $calendar-gap));
  }
}

// Модифікатор довжини місяця
@for $days from 28 through 31 {
  .calendar--month-length-#{$days} .calendar__day:nth-child(n + #{$days + 1}) {
    display: none;
  }
}
